<?xml version="1.0"?>

<launch>
  <!--master auto="start"/>
  <param name="/use_sim_time" value="false"/-->

  <node name="CentralizedNode" pkg="voronoi_draw" type="VisualNode.py" respawn="false" output="screen">
    
  </node>

  <node name="image_view_1" pkg="image_view" type="video_recorder" respawn="false">
    <remap from="image" to="/img/paint"/>
    <param name="filename" value="$(find voronoi_draw)/voronoi.avi" />
    <param name="fps" type="int" value="18" />
  </node>

  <!--node name="image_view_2" pkg="image_view" type="image_view" respawn="false">
    <remap from="image" to="/camera_out/image_raw"/>
    <param name="filename" value="$(find voronoi_draw)/vehicle.avi" />
  </node-->
</launch>
